/* Confirm Dialog */

@import "styles/colors.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"FantasqueSansMono Nerd Font 12";
}

window {
    width:      			14.063em;
    padding:    			1.563em;
    border:					0.063em;
    border-radius:          0px;
    border-color:           @border;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@border;
}
